<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm
/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="website icon" type="png" 
href="./assets/img/Untold Coding.png" />

    <link rel="stylesheet" href="/stylesheets/signin.css" />

    <title>login form - untoldcoding</title>
  </head>
  <body>
    <div class="login">
      <!-- <video id="video1" autoplay muted loop>
        <source src=".//assets/video/video.mp4" 
type="video/mp4" />
      </video>
      <audio controls autoplay loop>
        <source src=".//assets/mp3/video.mp3" 
type="audio/mpeg" />
      </audio> -->
      <form action="/signin" method="post" class="form" onsubmit=" return validatSigninForm()">
        <h1 class="head">Login</h1>

        <div class="content">
          <div class="box">
            <i class="ri-user-3-line login__icon"></i>

            <div class="box-input">
              <input
                type="email"
                name="email"
                class="input"
                id="login-email"
                placeholder=" "
                onkeyup="validatemail()"
              />
              
              <label for="login-email" 
class="login__label" id="email-error">Email</label>
<span ></span>
            </div>
          </div>

          <div class="box">
            <i class="ri-lock-2-line 
              login__icon"></i>

            <div class="box-input">
              <input
                type="string"
                name="password"
                class="input"
                id="login-pass"
                placeholder=""
                onkeyup="validatpass()"
              />
              
              <label for="" 
               class="login__label"id="pass-error" >Password</label>
               <span  ></span>
              <i class="ri-eye-off-line 
                login__eye" id="login-eye" onclick="showPass()"></i>
            </div>
          </div>
        </div>

        <div class="tick">
          <div class="tick-group">
            <input type="checkbox" class="tick-input" 
id="login-check" name="checkbox"/>
            <label for="login-check" 
class="tick-label">Remember me</label>
          </div>

          <a href="#" class="forgot">Forgot 
Password?</a>
        </div>

        <button type="submit" class="button">
Login</button>
     <span id="submit-error" style="padding-left: 3em;"></span>
        <p class="register">Don't have an account? 
<a href="/signup">Register</a></p>
      </form>
    </div>

    <script src="/javascripts/validation.js"></script>
  </body>
</html>