<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm
/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="website icon" type="png" 
href="./assets/img/Untold Coding.png" />

    <link rel="stylesheet" href="/stylesheets/signin.css" />

    <title>login form - untoldcoding</title>
  </head>
  <body>
    <div class="login">
      <!-- <video id="video1" autoplay muted loop>
        <source src=".//assets/video/video.mp4" 
type="video/mp4" />
      </video>
      <audio controls autoplay loop>
        <source src=".//assets/mp3/video.mp3" 
type="audio/mpeg" />
      </audio> -->
      <form action="/signup" method="post" class="form" onsubmit="return validatSignupForm()">
        <h1 class="head">Login</h1>

        <div class="content">
          <div class="box">
            <i class="ri-user-3-line login__icon"></i>

            <div class="box-input">
              <input
                type="string"
                name="name"
                onkeyup="validatname()"
                class="input"
                id="login-name"
                placeholder=" "
              />
              <label for="login-name" 
               class="login__label" id="name-error">Name</label>
            </div>
          </div>

          <div class="box">
            <i class="ri-user-3-line login__icon"></i>

            <div class="box-input">
              <input
                type="string"
                name="email"
                onkeyup="validatemail()"
                class="input"
                id="login-email"
                placeholder=" "
              />
              <label for="login-email" 
               class="login__label" id="email-error">Email Address</label>
               
            </div>
            
          </div>
          <!-- <a href="/verify" class="forgot" onclick="return validatEmailForm()">Send OTP</a> -->
          <!-- <label for="login-check" 
          class="tick-label">Send OTP</label> -->
          <!-- <span id="submit-error1"></span>           -->
          <!-- <button type="submit" class="button">
            Verify OTP</button> -->
            
            <div class="box">
                <i class="ri-user-3-line login__icon"></i>
    
                <div class="box-input">
                  <input
                    type="string"
                    name="mobile"
                    onkeyup="validatmobile()"
                    class="input"
                    id="login-mobile"
                    placeholder=" "
                  />
                  <label for="login-email" 
                   class="login__label" id="mobile-error">Mobile No.</label>
                   
                </div>
                
              </div>

          <div class="box">
            <i class="ri-lock-2-line 
              login__icon"></i>

            <div class="box-input">
              <input
                type="password"
                name="password"
                onkeyup="validatpass()"
                class="input"
                id="login-pass"
                placeholder=" "
              />
              <label for="login-pass" 
               class="login__label" id="pass-error">Password</label>
              <i class="ri-eye-off-line 
                login__eye" id="login-eye" onclick="showPass()"></i>
            </div>
          </div>

          <div class="box">
            <i class="ri-lock-2-line 
              login__icon"></i>

            <div class="box-input">
              <input
                type="password"
                onkeyup="checkPass()"
                class="input"
                id="login-cpass"
                placeholder=" "
              />
              <label for="login-cpass" 
               class="login__label" id="cpass-error">Conform Password</label>
              <i class="ri-eye-off-line
                login__eye" id="login-eye2" onclick="showcPass()"></i>
            </div>
          </div>

        </div>

        <div class="tick">
          <div class="tick-group">
            <!-- <input type="checkbox" class="tick-input" 
id="login-check" /> -->
            <!-- <label for="login-check" 
class="tick-label">Remember me</label> -->
          </div>

          <!-- <a href="#" class="forgot">Forgot 
Password?</a> -->
        </div>

        <button type="submit" class="button" ">
Login</button>
<span id="submit-error"></span>
<%if(typeof massage !=="undefined"){%>
  <p><%= massage%></p>
<%}%>
        <p class="register">Already have an account? 
<a href="/signin">Signin</a></p>
      </form>
    </div>

    <script src="/javascripts/validation.js"></script>
  </body>
</html>