<%- include("../layouts/header.ejs")%>

        <section class="content-main">
            <div class="row">
                <form action="/admin/addProduct" method="post" enctype="multipart/form-data" onsubmit="return validatFromEditPage()">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <!-- <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up type="submit"">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_title"  class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_title" name="title" onkeyup="validatString('product_title','title_error','Title')">
                                <span id="title_error"></span>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-4  mb-3">
                                    <label for="product_quantity" class="form-label">Quantity</label>
                                    <input type="number" placeholder="Type here" class="form-control" id="product_quantity" name="quantity" onkeyup="validatString('product_quantity','quantity_error','Quantity')">
                                    <span id="quantity_error"></span>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_color" class="form-label">Color</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_color" name="color" onkeyup="validatString('product_color','color_error','Color')">
                                    <span id="color_error"></span>
                                </div>
                                <div class="col-md-4  mb-3">
                                    <label for="product_size" class="form-label">Size</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_size" name="size" onkeyup="validatString('product_size','size_error','Size')">
                                    <span id="size_error"></span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">Brand</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_brand" name="brand" onkeyup="validatString('product_brand','brand_error','Brand')">
                                <span id="brand_error"></span>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" id="product_dis" name="discription" onkeyup="validatString('product_dis','dis_error','Discription')"></textarea>
                                <span id="dis_error"></span>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label>
                                <input class="form-control" type="file" name="image" required multiple>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="number" placeholder="Type here" class="form-control" name="price" id="product_price" onkeyup="validatString('product_price','price_error','Price')">
                                <span id="price_error"></span>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount</label>
                                <input type="number" placeholder="0%" class="form-control" name="discount" id="product_discount" value="0" onkeyup="validatString('product_discount','discount','Discount')">
                                <span id="discount_error"></span>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Status</label>
                                <select class="form-select" name="status">
                                    <option>Published</option>
                                    <option>Draft</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Categories</label>
                                <input type="text" placeholder="Type here" class="form-control" name="category" id="product_categories" onkeyup="validatString('product_categories','categorie_error','Categorie')">
                                <span id="categorie_error"></span>
                            </div>
                            <!-- <div class="mb-4">
                                <label class="form-label">Tags</label>
                                <input type="text" placeholder="Type here" class="form-control" name="tags">
                            </div>
                            <a href="/#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Tech</a>
                            <a href="/#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Mobile</a>
                            <a href="/#" class="font-xs hover-up mr-15"><i class="font-xs material-icons md-close text-body"></i> Apple</a> -->
                            <!-- <hr>
                            <h5 class="mb-3">Categories</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="product-cat">
                                <label class="form-check-label" for="product-cat"> Shirt </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-1">
                                <label class="form-check-label" for="product-cat-1"> T-Shirt </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-2">
                                <label class="form-check-label" for="product-cat-2"> Sneakers </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-3">
                                <label class="form-check-label" for="product-cat-3"> Joggers </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-4">
                                <label class="form-check-label" for="product-cat-4"> Vests </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-5">
                                <label class="form-check-label" for="product-cat-5"> Knitwear </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="product-cat-8">
                                <label class="form-check-label" for="product-cat-8"> Shorts </label>
                            </div> -->
                        </div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up type="submit"">Save to draft</button>
                    </div> <!-- card end// -->
                </div>
                <span id="form_error"></span>
            </form>
            </div>
            <% if (typeof message !== 'undefined'){ %>
                <div id="popup">
                    <p><%= message %></p>
                </div>

            <% } %>
            
   

</body>
</html>

        </section>
        <%- include("../layouts/footer.ejs")%>
